.ForgetTop {
  background-image: url('../Components/Assets/Ellipse\ 1resetexlipse.svg');
  background-repeat: no-repeat;
  background-position: 45vw 4vh;
}
.Input {
  border: 2px solid #e5e5e5;
  background-color: #f8f8f8;
  border-radius: 2.667vw;
  padding: 2.667vw 3.7334vw 2.667vw 4.2667vw;
  width: 100%;
}
.Input:focus {
  border: 2px solid #665af0;
  outline: none;
  background-color: rgba(20, 0, 255, 0.06);
}
.GetCode {
  border-radius: 4vw;
  font-weight: 500;
  width: 100%;
  font-size: 4.2667vw;
  line-height: 5.334vw;
  filter: drop-shadow(0px 4px 10px #afcdfb);
  color: #ffffff;
  background-color: #3c2cf8;
  padding: 4vw 0px 4vw 0px;
}
.ResetPassword {
  border-radius: 4vw;
  font-weight: 500;
  width: 100%;
  font-size: 4.2667vw;
  line-height: 5.334vw;
  color: #ffffff;
  background-color: #3c2cf8;
  padding: 4vw 0px 4vw 0px;
}
/* .Span {
  position: relative;
}
.Span::before {
  content: '';
  position: absolute;
  background-color: #ffd400;
  height: 6px;
  width: 100%;
  bottom: 2.5px;
  opacity: 0.6;
  left: 0;
} */
.Span2 {
  position: relative;
}
.Span2::before {
  content: '';
  position: absolute;
  background-color: #ffd400;
  height: 8px;
  width: 100%;
  bottom: 2.5px;
  opacity: 0.49;
  left: 0;
  bottom: 1px;
  z-index: -1;
}
.Span {
  position: relative;
}
.Span::before {
  content: '';
  position: absolute;
  background-color: #ffd400;
  height: 8px;
  width: 137.58%;
  opacity: 0.49;
  left: -2.4vw;
  bottom: 0;
  z-index: -1;
}
