.mainbox {
}
.second {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 13.8667vw;
  padding-right: 10.1334vw;
}
.processOk {
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(1.5px);
}
.processNotOk {
  background-color: white;
  box-shadow: 0px -4px 60px 0px #010bff0f;
}
.first {
  height: 4.2667vw;
  width: 100vw;
  position: relative;
}
.iconsection {
  height: 8vw;
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.unactiveicon {
  display: none;
}
.activeicon {
  position: absolute;
  width: 40vw;
  height: 17.334vw;
  top: 0px;
}
.activesvg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 39.7334vw;
  height: 13.0667vw;
}
.activeiconcircle {
  height: 14.1334vw;
  width: 14.1334vw;
  position: absolute;
  top: 0;
  left: 11.2vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff6a8;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(5, 0, 255, 0.04);
}
.activeiconmain {
}
