.Input {
  margin-top: 1vh;
  border: 2px solid #e5e5e5;
  border-radius: 2.667vw;
  padding: 2.667vw 3.7334vw 2.667vw 4.2667vw;
  width: 100%;
  background-color: #f8f8f8;
}
.Input:focus {
  border: 2px solid #665af0;
  outline: none;
  background-color: rgba(20, 0, 255, 0.06);
}
.SigninTop {
  background-image: url('../Components/Assets/Ellipse\ 1circle.svg');
  background-repeat: no-repeat;
  background-position: 37vw 5.5vw;
}
.RegTop {
  background-image: url('../Components/Assets/Ellipse\ 1circle.svg');
  background-repeat: no-repeat;
  background-position: 30vw 2.5vh;
}
.Withdraw {
  background-image: url('../Components/Assets/Ellipse\ 1withdraw.svg');
  background-repeat: no-repeat;
  background-position: 33vw 2.5vh;
}
.Checkbox {
  position: relative;
  cursor: none;
  display: block;
  caret-color: rgba(0, 0, 0, 0);
}

.Checkbox input[type='checkbox'] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.Checkbox label {
  position: relative;
}
.Checkbox label:before {
  content: '';
  position: absolute;
  left: -0.8vw;
  top: 1.334vw;
  margin: 4px;
  width: 16px;
  height: 16px;
  background-color: #f8f8f8;
  transition: transform 0.28s ease;
  border-radius: 5px;
  border: 1px solid #665af0;
}
.Checkbox label:after {
  content: '';
  display: block;
  width: 7px;
  height: 4px;
  border-bottom: 2px solid #665af0;
  border-left: 2px solid #665af0;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  border-radius: 4px;
  position: absolute;
  top: 14px;
  left: 6px;
}
.Checkbox input[type='checkbox']:checked ~ label::before {
  color: #665af0;
}

.Checkbox input[type='checkbox']:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.Checkbox label {
  height: 34px;
  display: block;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.Checkbox label span {
  font-size: 13px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Checkbox input[type='checkbox']:focus + label::before {
  outline: 0;
}
.SignIn {
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  filter: drop-shadow(0px 4px 10px #afcdfb);
  color: #ffffff;
  background-color: #3c2cf8;
  padding: 15px 18px;
}
.Sign {
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  filter: drop-shadow(0px 4px 10px #afcdfb);
  color: #ffffff;
  background-color: #3c2cf8;
  padding: 15px 0px 15px 0px;
}
.Onbord3 {
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  box-shadow: 0px 4px 10px #afcdfb;
  color: #ffffff;
  background-color: #3c2cf8;
  padding: 15px 18px;
}
.Register {
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: #3c2cf8;
  padding: 15px 18px;
}
.Selection {
  color: #7f7f92;
}
.Checkbox2 {
  width: 10%;
  position: relative;
  display: block;
}

.Checkbox2 input[type='checkbox'] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.Checkbox2 label {
  position: relative;
}
.Checkbox2 label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 5px;
  border: 1px solid #665af0;
}
.Checkbox2 label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #665af0;
  border-left: 2px solid #665af0;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.Checkbox2 input[type='checkbox']:checked ~ label::before {
  color: #665af0;
}

.Checkbox2 input[type='checkbox']:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.Checkbox2 label {
  height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.Checkbox2 label span {
  font-size: 13px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Checkbox2 input[type='checkbox']:focus + label::before {
  outline: 0;
}
.balance {
  background-image: url('../Components/Assets/Rectangle\ 78asdasd.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.popup::after {
  content: '';
  position: absolute;
  background-color: #dddddd;
  height: 5px;
  border-radius: 10px;
  width: 72%;
  bottom: -8px;
  opacity: 0.6;
  left: 15%;
}
